<!doctype html>
<!-- Page that ALL Html Pages Extend for Common Scripts and Functionality-->
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">   
    <!--<script src="jquery-3.6.0.min.js"></script>-->
    <title>PMPS</title>
  </head>
  <body>
    <!-- Homerow including navigation buttons at top of all pages -->
    <div class="container-fluid">
      {% block homerow %}
      <div class="row gx-5 border bg-info py-1">
        <div class="btn-group col-1">
          <button class="btn btn-light btn-outline-danger" onclick="goBack()">Back</button>
        </div>
        <div class="btn-group col-3">
          <!-- Device&State Search Page -->
          <a href="/export_page/" class="btn btn-light btn-outline-secondary" name="home" role="button">Config</a>
          <a href="/search/" class="btn btn-light btn-outline-dark" name="search" role="button">Search</a>
          <a href="/device_search_results/" class="btn btn-light btn-outline-dark" name="devices" role="button">Devices</a>
        </div>
      </div>
      {% endblock %}
    </div>
    <div class="container-fluid">
      <title>PMPS DB</title>
      {% if content %}
        <h1>{{ content }}!</h1>
      {% else %}
        <div class="display-6" color="gray">
          <span class="border-bottom border-secondary mb-1">
            PMPS Configuration Database            
          </span>
        </div>

      {% endif %}
      <div class="container-fluid">
        <span></span>
      </div>
    {% block content %}{% endblock %}
    </div>
    {% block scripts %}
      <script>
      function goBack() {
        window.history.back();
      }
      </script>

    {% endblock %}
  </body>
</html>