<!-- Contains Import Data Form and Export Data Functionality -->
{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">
    <!-- File Selector for Data Import -->
    <div class="row border rounded mb-3">
      <h5>Import Data</h5>
      <div class="col">
        <form action="/populate/" method="post" enctype="multipart/form-data" id="exportForm">
          <label for="formFile" class="form-label">Add Data From File</label>
          <div class="row">
            <div class="col-md-8">
              <input class="form-control" type="file" id="formFile" name="formFile" accept=".txt,.csv">
            </div>
            <div class="col">
              <button class="btn btn-light btn-outline-dark rounded" name="file_submit" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col">
        {% if message %}
          <h4 class="text-success">{{ message }}</h4>
        {% endif %}
      </div>
    </div>
    <div class="row border rounded">
      <!-- Export all State Data, Show Error Message If Needed -->
      {% if plcs %}
      <div class="col-3">
        <h5>Select One PLC to Download</h5>
        <form action="/export_plc/" method="post">
          <div class="input-group">
            <select name=plc_select class="form-select" name="export_plc" method="post" action="/">
              {% for plc in plcs %}
                <option value= "{{ plc }}" SELECTED>{{ plc }}</option>
              {% endfor %}
            </select>
          </div>
	    <br>
            <button type="submit" class="btn btn-light btn-outline-dark rounded"  name="PLC" value="export">Export</button>
            <button type="submit" class="btn btn-light btn-outline-dark rounded"  name="PLC" value="download">Download</button>
            <button type="submit" class="btn btn-light btn-outline-dark rounded"  name="PLC" value="reload">Reload</button>
        </form>
      </div>
      <div class="col-sm-5">
        <text>
          "Export" creates a local database file but does not transfer it to the PLC.</p>
          "Download" downloads the latest parameters onto the PLC.</p>
          "Reload" attempts to make the PLC reread the downloaded database file. If successful, the parameters will immediately become active.</p>
          Reference this confluence page for more information: <a href="https://confluence.slac.stanford.edu/spaces/PCDS/pages/368333906/PMPSDB+Client+Transfer+Tool+Manual" class="external">PMPS Transfer Manual</a>
        </text>

      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
