<!-- Contains Import Data Form and Export Data Functionality -->
{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">
      <!-- File Selector for Data Import -->
      <div class="row border rounded mb-3">
        <div class="col">
          <form action="/populate/" method="post" enctype="multipart/form-data">
            <label for="formFile" class="form-label">Add Data From File</label>
            <div class="row">
              <div class="col-md-8">
                <input class="form-control" type="file" id="formFile" name="formFile" accept=".txt,.csv">
              </div>
              <div class="col">
                <button class="button rounded" name="file_submit" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col">
          {% if message %}
            <h4 class="text-success">{{ message }}</h4>
          {% endif %}
        </div>
      </div>
      <div class="row border rounded">
        <!-- Export all State Data, Show Error Message If Needed -->
        <div class="col-sm-3">
          <h5>Download all States</h5>
          <form action="/export_all/" method="get">
            <button class="button rounded" name="export" type="submit">Download</button>
          </form>
        </div>
        {% if plcs %}
          <div class="col-sm-3">
            <h5>Download One PLC</h5>
            <form action="/export_plc/" method="post">
              <select name=plc_select method="post" action="/">
                {% for plc in plcs %}
                <option value= "{{ plc }}" SELECTED>{{ plc }}</option>"
                {% endfor %}
              </select>
              <button class="button rounded" name="PLC" type="submit">Export</button>
            </form>
          </div>
        {% endif %}
      </div>
  </div>
{% endblock %}
