<!-- Form to add new Device -->
{% extends "base.html" %}

<!-- TODO: Error handling for original device name -->
{% block content %}
<div class="container-fluid">
  <div class ="row">
    {% if msg %}
      <text>{{ msg }}</text>
    {% endif %}
  </div>
  <div class="row">
    <form action="/add_device/" name="add_device_form" method="post">
      <div class="row table-responsive">
        <table class="table table-striped border" id="devices" >
          <tbody>
            <tr>
              <td><th>{{ device_content["titles"][1] }}</th></td>
              <td>
                <div class="col-7">
                  <div class="input-group">
                    <input type="text" name="d_name" class="form-control" value="{{ device_content['devices'][1] }}">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><th>State Template (Optional)</th></td>
              <td>
                <div class="col-7">
                  <div class="input-group mb-3">
                    <select class="form-select" name="template_select" id="template_select">
                      {% for dev in devices %}
                        {% if dev[0] == device_content["template"] %}
                          <option value= "{{ dev[0] }}" SELECTED>{{ dev[1] }}</option> 
                        {% else %}
                          <option value= "{{ dev[0] }}">{{ dev[1] }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><th>{{device_content["titles"][2]}}</th></td>
              <td>
                <div class="col-7">
                  <div class="input-group mb-3">
                    <select class="form-select" name="plc_select" id="plc_select">
                      {% for plc in config["plcs"] %}
                        {% if plc == device_content['devices'][2]  %}
                          <option value= "{{ plc }}" SELECTED>{{ plc }}</option> 
                        {% else %}
                          <option value= "{{ plc }}">{{ plc }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><th>{{device_content["titles"][3]}}</th></td>
              <td>
                <div class="col-7">
                  <div class="input-group mb-3">
                    <select class="form-select" name="dtype_select" id="dtype_select">
                      {% for dev_type in config["device_types"] %}
                        {% if dev_type == device_content['devices'][4] %}
                          <option value= "{{ dev_type }}" SELECTED>{{ dev_type }}</option> 
                        {% else %}
                          <option value= "{{ dev_type }}">{{ dev_type }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </td>       
            </tr>
            <tr>
              <td><th>{{device_content["titles"][4]}}</th></td>
              <td>
                <div class="col-7">
                  <div class="input-group mb-3">
                    <select class="form-select" name="ag_select" id="ag_select">
                      {% for ag in config["access_groups"] %}
                        {% if ag == device_content['devices'][3] %}
                          <option value= "{{ ag }}" SELECTED>{{ ag }}</option> 
                        {% else %}
                          <option value= "{{ ag }}">{{ ag }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </td>                     
            <tr>
          </tbody>
        </table>
      </div>
      <button name="new_device_button" class="btn btn-primary btn-outline-light" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}