<!-- Device and State Search & Filter Functionality -->
{% extends "base.html" %}

{% block content %}
<!-- Device to State Dropdown Selector-->
<div class="container-fluid border">
    <div class="row">
      {% if message %}
        <h4 class="text-success">{{ message }}</h4>
      {% endif %}
    </div>
    <div class="row">
      <h3>Devices and States</h3> 
    </div>
    <div class="row">
      <div class="col-sm-3 border border-light rounded">
        <form action="/state_info/" name="device_states_form" method="post">
          <h5>Select a Device</h5>
          <div class="input-group">
            <SELECT class="form-select" name="device_id">
            {% for d in devices %}
              <OPTION value={{d[0]}} class="dropdown"> {{d[1]}}</OPTION>
            {% endfor %}
            </SELECT>
            <button class="btn btn-light btn-outline-dark" name="device_state_button" type="submit">Get States</button>
          </div>
        </form>
      </div>
      <div class="col border border-light rounded">
        <form action="/new_device/" name="new_dev" method="post">
          <h5>Create a New Device</h5>
          <button class="btn btn-primary btn-outline-light" name="new_dev_button" type="submit">New</button>
        </form>
      </div>
    </div>
  <!-- If a specific device is given, allow a specific state to be selected/displayed -->
    <div class="container">
      {% if device_id %}
      <h4> Current Device: {{device_id}}</h4>
      {% endif %}
      {% if device_states %}
        <form action="/state_info/" name="state_info_form" method="post">
        <h5>State Names</h5>
        <SELECT name="state_info">
          {% if device_states|length > 1 %}
            {% for s in device_states %}
              <OPTION value={{s[0]}} class="dropdown">{{s[0]}}</OPTION>
            {% endfor %}
          {% else %}
            <OPTION value={{device_states[0][0]}} class="dropdown">{{device_states[0][0]}}</OPTION>
          {% endif %}
        </SELECT>
        <button class="btn btn-light btn-outline-dark" name="state_info_button" type="submit">State Info</button>
      </form>
      {% endif %}
    </div>
  </div>

  <!-- Search Bars -->
  <div class="container-fluid border">
    <h3>Search by Name</h3> 
      <!-- Search bar for states -->
    <div class="row">
      <div class="border border-light rounded">
        <h5>State Search</h5>
        <form action="/state_search_results/" method="post">
          <div class="row">
            <div class="col-sm-2">     
              Name (full or partial):
            </div>
            <div class="col-sm-2">     
              <input name="state_name" value=""></input>
            </div>
            <div class="col">
              <button class="btn btn-light btn-outline-dark" name="state_submit_button" type="submit">Search</button>
            </div>
          </div>
        </p></form>
      </div>
    </div>
    <!-- Search bar for devices-->
    <div class="row">
      <div class="border border-light rounded">
        <h5>Device Search</h5>
        <form action="/device_search_results/" method="post">
          <div class="row">
            <div class="col-sm-2">          
              Name (full or partial):
            </div>
            <div class="col-sm-2">          
              <input name="device_name" value=""></input>
            </div>
            <div class="col">
              <button class="btn btn-light btn-outline-dark" name="dev_submit_button" type="submit">Search</button>
            </div>
          </div>
        </p></form>
      </div>
    </div>
  </div>
  <!-- Search by type -->
  <div class="container-fluid border">
    <div class="row">
      <div class="col-5">
        <h3>Search by Device Type</h5>
        <form action="/devices_by_type/" method="post">
          <div class="form-group">
            <div class="input-group">
              <label for="device_type" class="col-sm-2 col-form-label">Type:</label>
                  <select class="form-select" name="device_type" id="device_type" method="post" action="/">
                    {% for dt in config["device_types"] %}
                      <option value= "{{ dt }}">{{ dt }}</option>
                    {% endfor %}
                  </select>
                  <button class="btn btn-light btn-outline-dark" name="type_submit_button" type="submit">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
