<!-- Singular State Edit Form -->
{% extends "base.html" %}

{% block content %}
<div class="container border">
  {% if not new %}
    <!-- Page Title/Information for Form-->
    <div class="row">
      <h4>State Name: {{ state_content['states']['name'] }}</h4>
    </div>
    <div class="row">
      <div class="col-sm">
        <h5> ID: {{ state_content['states']['id'] }}</h5>
      </div>
      <!-- History Selector -->
      <div class="col-sm float-start">
        <form action="/state_history/" method="post">
          <input type="hidden" name="state_id" value="{{ state_content['states']['id'] }}"></input>
          <input type="hidden" name="device_name" value="{{ state_content['device_name'] }}"></input>
          <button class="button" name="history" type="submit">History</button>
        </form>
      </div>
      <div class="col">
        Device ID:
      </div>
      <div class="col">
        <input disabled name="device_name" value="{{ state_content['device_name'] }}"></input>
      </div>
      <div class="col"></div>
    <form action="/update_state/" name="update_state_form" method="post">
  {% elif new %}
  <form action="/update_state/" name="update_state_form" method="post">
    <div class="row">
      <div class="col-sm-3">
        Adding New State for Device:
      </div>
      <div class="col-sm-2">
        <select name=device_select method="post" action="/">
          {% for device in devices %}
            {% if device == state_content['device_name'] %}
              <option value= "{{ device }}" SELECTED>{{ device }}</option>"
            {% else %}
            <option value= "{{ device }}">{{ device }}</option>"
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  {% if message %}
    <div class="col-xl text-end">
      <h5 class="text-success">{{ message }}</h5>
    </div>
  {% endif %}
    </div>
<!-- State Edit Form -->
  <div class="container">
      <input type="hidden" name="device_name" value="{{ state_content['device_name'] }}"></input>
      <div class="row table-responsive">
        <table class="table table-striped border" id="states" >
          <tbody>
            {% if not new %}
              <tr>
                <td><th>{{ state_content["titles"][0] }}</th></td>
                <td>
                  <input type="hidden" name="s_id" value="{{ state_content['states']['id'] }}"></input>
                <text>{{ state_content["states"]['id'] }}</text>
                </td>
              </tr>
            {% elif new %}
              <input type="hidden" name="s_id" value="None"></input>
            {% endif %}
            <tr>
                <td><th>{{state_content["titles"][1]}}</th></td>
              {% if new %}
                <td>{{ state_content['device_name'] }}-<input type="text" name="s_name" value="{{ state_content['states']['name'] }}"></td></tr>
              {% else %}
                <td><input type="text" name="s_name" value="{{ state_content['states']['name'] }}">
                <!--<td><input type="text" name="s_name" disabled value="{{ state_content['states']['name'] }}">-->
                  <input type="text" name="s_name" hidden value="{{ state_content['states']['name'] }}">
                </td></tr>
              {% endif %}
            <tr>
              <td><th>{{state_content["titles"][2]}}</th></td>
              <td><select name="s_beam" method="post" action="/">
                {% for bl in config["beamlines"] %}
                  {% if bl == state_content['states']['beamline'] %}
                    <option value= "{{ bl }}" SELECTED>{{ bl }}</option>"
                  {% else %}
                    <option value= "{{ bl }}">{{ bl }}</option>"
                  {% endif %}
                {% endfor %}
              </select></td>
            </tr>
            <!-- Beam Class -->           
            <tr>
              <td><th>{{state_content["titles"][3]}}</th></td>
              <!-- Beam Class Checkboxes -->
              <td><div class="row g-0">
                <div class="col">
                {% if new %}
                  {% for bc_value in config.form_defaults['nBeamClassRange'] %}
                    <input type="checkbox" class="btn-check" value="1" name="bc-{{ loop.index0 }}-val" id="bc-{{ loop.index0 }}" {{ "checked" if bc_value=="1" }} autocomplete="off" >
                    <label class="btn-color btn" for="bc-{{ loop.index0 }}">
                      {{ config.form_defaults['nBeamClassRange'] | length - loop.index0 - 1 }}
                    </label>
                  {% endfor %}
                {% else %}
                  {% for bc_value in state_content['states']['nBeamClassRange'] %}
                      <input type="checkbox" class="btn-check" value="1" name="bc-{{ loop.index0 }}-val" id="bc-{{ loop.index0 }}" {{ "checked" if bc_value=="1" }} autocomplete="off" >
                      <label class="btn-color btn" for="bc-{{ loop.index0 }}">
                        {{ state_content['states']['nBeamClassRange'] | length - loop.index0 - 1 }}
                      </label>
                  {% endfor %}
                {% endif %}
                </div>
              </div></td>
              <div class="col">
                <td>
                  <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#BC_info">Info</button>
                </td>
              </div>
            </tr>
            <!-- EV Range-->
            <tr>
              <td><th>{{state_content["titles"][4]}} (keV)</th></td>
              <!-- EV Range Checkboxes -->
              <td><div class="row g-0">
                <div class="col">
                  <label class="btn" style="font-size: 11px; padding: 0;" disabled>HXR<br>SXR</label>
                  {% if new %}
                    {% for ev_value in config.form_defaults['neVRange'] %}
                    <input type="checkbox" class="btn-check" value="1" name="ev-{{ loop.index0 }}-val" id="ev-{{ loop.index0 }}" {{ "checked" if ev_value=="1" }} autocomplete="off" />
                    <label class="btn-color btn" style="font-size: 11px; padding: 0; width: {{80/config.form_defaults['neVRange'] | length}}%;" for="ev-{{ loop.index0 }}">
                      {{config.ev_ranges['HXR'][config.form_defaults['neVRange'] | length - loop.index0 - 1 ]}}<br>
                      {{config.ev_ranges['SXR'][config.form_defaults['neVRange'] | length - loop.index0 - 1 ]}}
                    </label>
                    {% endfor %}
                  {% else %}
                    {% for ev_value in state_content['states']['neVRange'] %}
                        <input type="checkbox" class="btn-check" value="1" name="ev-{{ loop.index0 }}-val" id="ev-{{ loop.index0 }}" {{ "checked" if ev_value=="1" }} autocomplete="off" />
                        <label class="btn-color btn" style="font-size: 11px; padding: 0; width: {{80/state_content['states']['neVRange'] | length}}%;" for="ev-{{ loop.index0 }}">
                          {{config.ev_ranges['HXR'][state_content['states']['neVRange'] | length - loop.index0 - 1 ]}}<br>
                          {{config.ev_ranges['SXR'][state_content['states']['neVRange'] | length - loop.index0 - 1 ]}}
                        </label>
                    {% endfor %}
                  {% endif %}
                </div>
              </td>
            </tr>
            <!-- NTran -->
            <tr>
              <td><th>{{state_content["titles"][5]}}</th></td>
              {% if new %}
                <td><input type="text" name="s_nt" value="{{ config.form_defaults['nTran'] }}">   Note: 1 is full transmission
              {% else %}
                <td><input type="text" name="s_nt" value="{{ state_content['states']['nTran'] }}">    Note: 1 is full transmission
              {% endif %}
              </td></tr>
            <!-- NRate -->
            <tr>
              <td><th>{{state_content["titles"][6]}}</th></td>
              <td><select name=s_nr method="post" action="/">
                {% for nr in config.form_defaults["nRate"] %}
                  {% if nr == state_content['states']['nRate'] %}
                    <option value= "{{ nr }}" SELECTED>{{ nr }}</option>
                  {% else %}
                    <option value= "{{ nr }}">{{ nr }}</option>
                  {% endif %}
                {% endfor %}
              </select> Hz</td>
            </tr>
            <!-- Aperture Name -->
            <tr>
              <td><th>{{state_content["titles"][7]}}</th></td>
              <td><select name="s_as" method="post" action="/">
                {% for ap in config.form_defaults["aperture"] %}
                  {% if ap == state_content['states']['ap_name'] %}
                    <option value= "{{ ap }}" SELECTED>{{ ap }}</option> 
                  {% else %}
                    <option value= "{{ ap }}">{{ ap }}</option>
                  {% endif %}
                {% endfor %}
              </select></td>
              </td></tr>
            <!-- Aperture Values -->
            <tr>
              <td><th>{{state_content["titles"][8]}}</th></td>
              <td><input type="text" name="s_ayg" value="{{ state_content['states']['ap_ygap'] }}"> mm
              </td></tr>            
            <tr>
                <td><th>{{state_content["titles"][9]}}</th></td>
                <td><input type="text" name="s_ayc" value="{{ state_content['states']['ap_ycenter'] }}"> mm
                </td></tr>
            <tr>
              <td><th>{{state_content["titles"][10]}}</th></td>
              <td><input type="text" name="s_axg" value="{{ state_content['states']['ap_xgap'] }}"> mm
              </td></tr>
            <tr>
              <td><th>{{state_content["titles"][11]}}</th></td>
              <td><input type="text" name="s_axc" value="{{ state_content['states']['ap_xcenter'] }}"> mm
              </td></tr>
            <!-- Other Data-->
            <tr>
              <td><th>{{state_content["titles"][12]}}</th></td>
              <td><input type="text" name="s_apn" value="{{ state_content['states']['damage_limit'] }}">
              </td></tr>
            <tr>
              <td><th>{{state_content["titles"][13]}}</th></td>
              <td><input type="text" name="s_pen" value="{{ state_content['states']['pulse_energy'] }}">
              </td></tr>
            <tr>
              <td><th>{{state_content["titles"][14]}}</th></td>
              <td><input type="text" name="s_on" value="{{ state_content['states']['notes'] }}">
              </td></tr>       
            <tr>
              <td><th>{{state_content["titles"][15]}}</th></td>
              {% if state_content['states']['special'] %}
                <td><input type="checkbox" checked name="s_sp" value="special"></input>
              {% else %}
                <td><input type="checkbox" name="s_sp" value="special"></input>
              {% endif %}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note: Select if edge case, include reasoning in notes field</td>
            </tr>     
            <tr>
              <td><th>{{state_content["titles"][16]}}</th></td>
              <td><input type="text" name="s_rt" value="{{ state_content['states']['reactive_temp'] }}">
              </td></tr>     
            <tr>
              <td><th>{{state_content["titles"][17]}}</th></td>
              <td><input type="text" name="s_rp" value="{{ state_content['states']['reactive_pressure'] }}">
              </td></tr>  
          </tbody>
        </table>
      </div>
      <button name="update_state_button" type="submit">Submit</button>
    </form>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="BC_info" role="dialog">
  <div class="modal-dialog w-50 mw-100">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        <h4 class="modal-title">BC Data</h4>
      </div>
      <div class="modal-body">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Index</th>
              <th>Display Name</th>
              <th>∆T (s)</th>
              <th>dt (s)</th>	
              <th>Q (pC)</th>	
              <th>Rate max (Hz)</th>
            	<th>Current (nA)</th>
              <th>Power @ 4 GeV (W)</th>
            	<th>Int. Energy @ 4 GeV (J)	</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0</td> <td>Beam Off</td>	<td>0.5</td> <td>-</td>	<td>0</td>	<td>0</td>	<td>0</td>	<td>0</td>	<td>0</td>	<td>Beam off, Kickers off</td>
            </tr>
            <tr>
              <td>1</td> <td>Kicker STBY</td> <td>0.5</td> <td>-</td> <td>0</td> <td>0</td> <td>0</td> <td>0</td> <td>0</td>	<td>Beam off, Kickers standby</td>
            </tr>
            <tr>
              <td>2</td> <td>BC1Hz</td> <td>1</td> <td>1</td> <td>350</td> <td>1</td> <td>0.35</td> <td>1.4</td> <td>1.4</td> <td>350 pC x 1 Hz</td>
            </tr>
            <tr>
              <td>3</td> <td>BC10Hz</td> <td>1</td> <td>0.1</td> <td>3500</td> <td>10</td> <td>3.5</td> <td>14</td> <td>14</td> <td>350 pC X 10 Hz</td>
            </tr>
            <tr>
              <td>4</td> <td>Diagnostic</td> <td>0.5</td> <td>-</td> <td>5000</td> <td>-</td> <td>10</td> <td>40</td> <td>20</td> <td>50 pC x 200 Hz</td>
            </tr>
            <tr>
              <td>5</td> <td>BC120Hz</td> <td>0.2</td> <td>0.0083</td> <td>6000</td> <td>120</td> <td>30</td> <td>120</td> <td>24</td> <td>250 pC x 120 Hz</td>
            </tr>
            <tr>
              <td>6</td> <td>Tuning</td> <td>0.2</td> <td>-</td> <td>7000</td> <td>-</td> <td>35</td> <td>140</td> <td>28</td> <td>100 pC X 350 Hz</td>
            </tr>
            <tr>
              <td>7</td> <td>1% MAP</td> <td>0.01</td> <td>-</td> <td>3000</td> <td>-</td> <td>300</td> <td>1200</td> <td>12</td> <td>100 pC X 3 kHz</td>
            </tr>
            <tr>
              <td>8</td> <td>5% MAP</td> <td>0.003</td> <td>-</td> <td>4500</td> <td>-</td> <td>1500</td> <td>6000</td> <td>18</td> <td>100 pC x 15 kHz</td>
            </tr>
            <tr>
              <td>9</td> <td>10% MAP</td> <td>0.001</td> <td>-</td> <td>3000</td> <td>-</td> <td>3000</td> <td>12000</td> <td>12</td> <td>100 pC X 30 kHz</td>
            </tr>
            <tr>
              <td>10</td> <td>25% MAP</td> <td>4e-4</td> <td>-</td> <td>3000</td> <td>-</td> <td>7500</td> <td>30000</td> <td>12</td> <td>100 pC x 75 kHz</td>
            </tr>
            <tr>
              <td>11</td> <td>50% MAP</td>	<td>2e-1</td> <td>-</td> <td>3000</td> <td>-</td> <td>15000</td> <td>60000</td> <td>12</td> <td>100 pC x 150 kHz</td>
            </tr>
            <tr>
              <td>12</td> <td>100% MAP</td> <td>2e-4</td> <td>-</td> <td>6000</td> <td>-</td> <td>30000</td> <td>120000</td> <td>24</td> <td>100 pC x 300 kHz</td>
            </tr>
            <tr>
              <td>13</td> <td>Unlimited</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
            </tr>
            <tr>
              <td>14</td> <td>Unlimited</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
            </tr>
            <tr>
              <td>15</td> <td>Unlimited</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td> <td>-</td>
            </tr>
          </tbody>
        </tab>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
{% endblock %}