/* To lock the header in place and allow the rest of the table to scroll*/
.table-responsive{
    overflow:scroll;
    height:75vh;
    }
  thead tr:nth-child(1) th{
    background:white; 
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Class for beamclass/evrange selector */
/* Unchecked */
.btn-check+.btn-color{
  background-color: #9aa0a3 !important;
  color: white;
}
/* Checked */
.btn-check:checked+.btn-color{
  background-color: #0d6efd !important;
  color: white;
}